<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=user.name %> </title>
</head>
<body>
    <h1>edit user</h1>
    <h3>use the form below to edit the user</h3>
    <form action="/users/<%=user._id%>?_method=put" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" name="user[name]" id="name" value="<%=user.name%>" required>
        </div>
        <div>
           <label for="email">Email</label>
           <input type="text" name="user[email]" id="email" value="<%=user.email%>"required>
        </div>
        <label for="gender">GENDER</label>
        <div id="gender"value="<%=user.gender %> ">
            <input type="radio" id="male" name="user[gender]" value="male">
            <label for="male">male</label>
            <input type="radio" id="female" name="user[gender]" value="female">
             <label for="female">female</label>
        </div>
        <label for="status">STATUS</label>
        <div id="status">
            <input type="radio" id="active" name="user[status]" value="active">
            <label for="active">active</label>
            <input type="radio" id="inactive" name="user[status]" value="inactive">
             <label for="inactive">inactive</label>
        </div>

<button>save</button>
    </form>
    <a href="/users">back</a>
</body>
</html>